agents/functions/get_youtube_transcript.json
{
    "name": "Integration Webhooks, Dumpling AI",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1804181,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "dumplingai:getYoutubeTranscript",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3389613
            },
            "mapper": {
                "videoUrl": "{{2.`Youtube link`}}",
                "includeTimestamps": true,
                "preferredLanguage": "en",
                "timestampsToCombine": "5"
            },
            "metadata": {
                "designer": {
                    "x": 409,
                    "y": 13
                },
                "restore": {
                    "expect": {
                        "includeTimestamps": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "dumplingai"
                            },
                            "label": "My Dumpling AI connection (Make.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:dumplingai",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "videoUrl",
                        "type": "text",
                        "label": "YouTube Video URL",
                        "required": true
                    },
                    {
                        "name": "includeTimestamps",
                        "type": "boolean",
                        "label": "Include timestamps",
                        "required": true
                    },
                    {
                        "name": "timestampsToCombine",
                        "type": "number",
                        "label": "Timestamps to combine",
                        "required": true
                    },
                    {
                        "name": "preferredLanguage",
                        "type": "text",
                        "label": "Preferred Language"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{3.transcript}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 836,
                    "y": -14
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}