agents/functions/query_linkedin_database.json
{
    "name": "Get Airtable records",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1829003,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -861,
                    "y": 757
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Airtable"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -620,
                    "y": 760
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 29,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3365053
                            },
                            "filter": {
                                "name": "Sort",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.Sort}}",
                                            "b": "Likes",
                                            "o": "text:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{3.Sort}}",
                                            "b": "Comments",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appByC5zpZ3aPRZeu",
                                "sort": [
                                    {
                                        "field": "{{3.Sort}}",
                                        "direction": "desc"
                                    }
                                ],
                                "table": "tblsgMaKjZ5M2IVU2",
                                "formula": "{{3.Filter}}",
                                "maxRecords": "{{3.`Amount of posts`}}",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": -311,
                                    "y": 564
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Linkedin database"
                                        },
                                        "sort": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "field": {
                                                        "mode": "edit"
                                                    },
                                                    "direction": {
                                                        "mode": "chose",
                                                        "label": "Descending"
                                                    }
                                                }
                                            ]
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Table 1"
                                        },
                                        "fields": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Linkedin post",
                                        "type": "text",
                                        "label": "Linkedin post",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Creator",
                                        "type": "text",
                                        "label": "Creator"
                                    },
                                    {
                                        "name": "Likes",
                                        "type": "number",
                                        "label": "Likes"
                                    },
                                    {
                                        "name": "Comments",
                                        "type": "number",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "Date",
                                        "time": false,
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 35,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 29
                            },
                            "mapper": {
                                "Date": "{{29.Date}}",
                                "Likes": "{{29.Likes}}",
                                "Creator": "{{29.Creator}}",
                                "Comments": "{{29.Comments}}",
                                "Image URL": "{{29.`Image URL`}}",
                                "Linkedin post": "{{29.`Linkedin post`}}",
                                "Linkedin post url": "{{29.`Linkedin post url`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -51,
                                    "y": 567
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Airtable - Search Records [29]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 36,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{35.array}}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 200,
                                    "y": 580
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 32,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3365053
                            },
                            "filter": {
                                "name": "Dont sort",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.Sort}}",
                                            "b": "Likes",
                                            "o": "text:notequal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{3.Sort}}",
                                            "b": "Comments",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "appByC5zpZ3aPRZeu",
                                "table": "tblsgMaKjZ5M2IVU2",
                                "formula": "{{3.Filter}}",
                                "maxRecords": "{{3.`Amount of posts`}}",
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": -298,
                                    "y": 941
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "Linkedin database"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Table 1"
                                        },
                                        "fields": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Linkedin post",
                                        "type": "text",
                                        "label": "Linkedin post",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Creator",
                                        "type": "text",
                                        "label": "Creator"
                                    },
                                    {
                                        "name": "Likes",
                                        "type": "number",
                                        "label": "Likes"
                                    },
                                    {
                                        "name": "Comments",
                                        "type": "number",
                                        "label": "Comments"
                                    },
                                    {
                                        "name": "Date",
                                        "time": false,
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 33,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 3
                            },
                            "mapper": {
                                "Date": "{{32.Date}}",
                                "Likes": "{{32.Likes}}",
                                "Creator": "{{32.Creator}}",
                                "Comments": "{{32.Comments}}",
                                "Image URL": "{{32.`Image URL`}}",
                                "Linkedin post": "{{32.`Linkedin post`}}",
                                "Linkedin post url": "{{32.`Linkedin post url`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": -32,
                                    "y": 941
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Webhooks - Custom webhook [3]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 34,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{33.array}}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 219,
                                    "y": 954
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}